<launch>

	<node name="find_grasps" pkg="agile_grasp" type="find_grasps">
  	    <param name="cloud_topic" value="/camera/depth/color/points" />
        <param name="cloud_frame" value="camera_depth_optical_frame" />
        <param name="cloud_type" value="0" />
        <param name="svm_file_name" value="$(find agile_grasp)/svm_032015_20_20_same" />
        <param name="num_samples" value="9000" />
        <param name="num_threads" value="4" />
        <param name="num_clouds" value="1" />

       <rosparam param="workspace">[0.12687553709065363, 0.33366118288401164, -0.791561178336812, -0.008378098815276888, 0.3495355514342148, 1.9432727603743707]</rosparam>

        <rosparam param="camera_pose"> [-0.6346780, -0.0352972, -0.7719702, -0.0894654,
                  0.0168840, -0.9993512, 0.0318126, -0.0577522,
                  -0.7725922, 0.0071568, 0.6348622, 1.76803,
                  0, 0, 0, 1] </rosparam>
        <param name="min_inliers" value="3" />
        <param name="plotting" value="3" /> 
        <param name="marker_lifetime" value="10" />
	</node>
</launch>